

{% extends 'base.html'%} {% load static %} {% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset_Password</title>
</head>
<body>
    {% block content %}
    <h2 style="text-align:center;">Password set complete</h2>
    <div style="display: flex; justify-content: center; height: 100vh;">
        
        <div>Go back to login page <a href="{% url 'login' %}" style="background-color: #37002f; color: white; padding: 3px; border-radius: 5px;">Login</a></div>
    </div>
    
    {% endblock %}
</body>
</html>
