{% extends 'base.html'%} {% load static %} {% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset_Password</title>
</head>
<body>
    {% block content %}
    <h2 style="text-align: center; padding: 30px;">Reset Password</h2>
    <div style="height: 50vh; padding: 60px; display: flex; justify-content: center;">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="Send Email">
        </form></div>
    
    {% endblock %}
</body>
</html>