{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STROLL</title>

    <script src="https://kit.fontawesome.com/825b56df51.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stroll-media.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

{%block content%}

    <div class="container7 container">
        <h1 style="padding: 30px; background: white; text-align: center;">Book An Appointment for Guides</h1>        
    </div>


    <div class="login-form form2">
        <div class="form-container">
            <form action="" method="POST" id="form1">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    
</body>

<script type="text/javascript">
    /*csrf token */
    
    
    let form1 = document.getElementById('form1')
    form1.onsubmit()

     form = document.getElementById('form')

    form.addEventListener('submit' , function(e){
        e.preventDefault()
        console.log("form-submitted")
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    }) 

    form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log("Form submitted")
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')

    })

   
    /*document.getElementById('payment').addEventListener('click', function (e){
        submitFormData()
    })*/

     function submitFormData(){
        console.log('Payment button clicked')

        var userFormData ={
            'name' : null,
            'destination': null,
            'activity' : null,
            'duration': null,
            'date' : null,
        }

        var url ='custom'
        console.log(csrftoken); 
        fetch(url, {
            method: 'POST',

            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken' : csrftoken,
            },

            body:JSON.stringify({'form': userFormData})
        })

        .then((response) => {
                return response.json()
        })

        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href= "{% url 'home' %}"
        })



    } 
</script>

{%endblock%}