{% extends 'base.html'%} {% load static %} {% static "images" as baseUrl %}
<head>
    <script src="https://kit.fontawesome.com/825b56df51.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stroll-media.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {%include 'nav.html' %}

    {% block content %}
    <h1 style="text-align: center;">Rate this Place</h1>
    <div style="padding: 40px;">
    <hr></div>
    <div class="rate-container" aria-label="Rate bhaktapur by adding a short review text and giving stars out of 5">
        <div class="g-img products">
            <img src="{{destination.imageUrl}}" alt="">
            <div class="img-text">
                <h3 class="product-name">{{destination.name}}</h3>
                <div class="rate" style="position:absolute;bottom:0;right:1;"></div>
            </div>
        </div>
        <div class="rate-form-container">
            <form action="" method="POST">
                {%csrf_token%}
                <p>How was the place?</p>
                {{form.description}}
                <p>How many stars would you give?</p>
                <div style="width: 100%;">
                    {{form.rating}}
                </div>
                <input type="submit" value="Post your review">
            </form>
        </div>
        
    </div>
    {% endblock %}
</body>
